Flask==0.10.1
Flask-SQLAlchemy==2.0
Flask-User==0.6.4
SQLAlchemy==1.0.8
SQLAlchemy-Utils==0.30.15
irc3==0.8.3
alembic==0.8.3
WTForms-Alchemy==0.15.0
click==6.2
aioredis==0.2.4
tabulate==0.7.5
aiohttp==0.20.2
aiohttp-auth==0.1.1
aiohttp-session[secure]==0.5.0
aiozmq==0.7.1
